.env
*/target/
*/node_modules/
*/.next/
*/dist/
*.log

# Bare-metal local installs and runtime files (created by scripts/setup.ps1 or manual setup)
minio/
mysql/
nssm/
logs/
migration-backup/
mysql-*.zip
