[submodule "ssc-booking-frontend"]
	path = ssc-booking-frontend
	url = https://github.com/5gcrg/SSC-Event-System.git
[submodule "ssc-booking-backend"]
	path = ssc-booking-backend
	url = https://github.com/5gcrg/SSC-Event-System-Backend.git
[submodule "ssc-booking-fileserver"]
	path = ssc-booking-fileserver
	url = https://github.com/Radzuuuu/expert-funicular.git
